body {
	font-family: "Helvetica Standard", helvetica, serif;
}

#totallySecretTitle {
	display: inline;
}

.specialButton {
	cursor: pointer;
    cursor: hand;
	width: 40%;
	height: 30%;
	padding-bottom: 2%;
	padding-top: 2%;
}

.timer {
	margin: 0;
	width: 50%;
	float: left;
}

tr td {
	text-align: center;
	width: 149px;
	height: 20px;
	background-color: #D2B48C;
}

table {
	position: relative;
	z-index: -2;
	margin: 0 auto;
	margin-top: 140px;
}

#in {
	position: relative;
	float: left;
	left: 10%;
	width: 50%;
	margin: 0;
}

.score {
	float: right;
	position: relative;
	margin: 0;
	width: 40%;
	height: 100%;
}

.scorer {
	margin: 0;
	width: 50%;
	float: right;
}

#scoreMod {
	opacity: 0;
	position: absolute;
	display: block;
	left: 67%;
}
.uptime {
	-webkit-animation: move-up 600ms ease-in;
	-moz-animation: move-up 600ms ease-in;
        animation: move-up 600ms ease-in;
}

@webkit-keyframes move-up { 
	0% { 
		top: 25px; 
		opacity: 1; 
	} 
	100% { 
		top: -50px; 
		opacity: 0; 
	} 
} 
@-moz-keyframes move-up { 
	0% { 
		top: 25px; 
		opacity: 1; 
	} 
	100% { 
		top: -50px; 
		opacity: 0; 
	} 
} 
@keyframes move-up { 
	0% { 
		top: 25px; 
		opacity: 1; 
	} 
	100% { 
		top: -50px; 
		opacity: 0; 
	} 
}

inputs:-webkit-input-placeholder { 
    color:    #b5b5b5; 
} 
 
inputs-moz-placeholder { 
    color:    #b5b5b5; 
}

nav {
	position: fixed;
	background-color: white;
	top: 0;
	width: 100%;
	padding-bottom: 12px;
}

body {
	margin: 0;
}

.headContent {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header.shadow {box-shadow:0px 5px 5px rgba(0,0,0,.5);}
 
 .inputs  { 
 width:270px; 
padding: 7px 25px; 
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica; 
font-weight: 400; 
font-size: 12px; 
color: #9D9E9E; 
text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0); 
background: #FFF; 
border: 1px solid #FFF; 
border-radius: 5px; 
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50); 
-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50); 
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50); 
} 
.inputs:focus { 
   background: #DFE9EC; 
color: #414848; 
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25); 
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25); 
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25); 
    outline:0; 
} 
  .inputs:hover   { 
background: #DFE9EC; 
color: #414848; 
}
